@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Sans+Pro:300,400&display=swap");
html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.hoverUnderline:hover {
  border-bottom: 1px solid #de3c4b;
}

.header,
.welcome,
.about,
.howItWorks,
.testimonials,
.faq,
.pricing {
  display: grid;
  grid-template-columns: minmax(130px, 1fr) minmax(-webkit-min-content, 1520px) minmax(130px, 1fr);
  grid-template-columns: minmax(130px, 1fr) minmax(min-content, 1520px) minmax(130px, 1fr);
}
@media only screen and (max-width: 1300px) {
  .header,
.welcome,
.about,
.howItWorks,
.testimonials,
.faq,
.pricing {
    grid-template-columns: minmax(70px, 1fr) minmax(-webkit-min-content, 1520px) minmax(70px, 1fr);
    grid-template-columns: minmax(70px, 1fr) minmax(min-content, 1520px) minmax(70px, 1fr);
  }
}
@media only screen and (max-width: 700px) {
  .header,
.welcome,
.about,
.howItWorks,
.testimonials,
.faq,
.pricing {
    grid-template-columns: minmax(30px, 1fr) minmax(-webkit-min-content, 1520px) minmax(30px, 1fr);
    grid-template-columns: minmax(30px, 1fr) minmax(min-content, 1520px) minmax(30px, 1fr);
  }
}

.header__content {
  grid-column: 2/3;
}

.welcome__content {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: -webkit-max-content -webkit-max-content;
  grid-template-rows: max-content max-content;
  align-content: center;
  grid-column-gap: 4rem;
}
@media only screen and (max-width: 1070px) {
  .welcome__content {
    grid-template-columns: 1fr;
    grid-template-rows: -webkit-max-content;
    grid-template-rows: max-content;
    padding-top: 10rem;
    padding-bottom: 10rem;
    grid-row-gap: 2rem;
  }
}
.welcome__video {
  grid-row: 1/-1;
}
@media only screen and (max-width: 1070px) {
  .welcome__video {
    grid-row: 2/3;
  }
}
.welcome__cta {
  grid-column: 2/3;
  grid-row: 2/3;
}
@media only screen and (max-width: 1070px) {
  .welcome__cta {
    grid-column: 1/-1;
    grid-row: 3/4;
  }
}
@media only screen and (max-width: 1070px) {
  .welcome__text {
    grid-row: 1;
  }
}

.about__content {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, -webkit-max-content);
  grid-template-rows: repeat(4, max-content);
}
@media only screen and (max-width: 1024px) {
  .about__content {
    grid-template-columns: 2fr 1fr;
    grid-gap: 4rem;
  }
}
@media only screen and (max-width: 800px) {
  .about__content {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
}
@media only screen and (max-width: 800px) {
  .about__imageContainer-2 {
    grid-row: 5/6;
  }
}
.about__heading {
  grid-column: 1/-1;
}
.about__cta {
  grid-column: 1/-1;
}

.howItWorks__content {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
}
@media only screen and (max-width: 1024px) {
  .howItWorks__content {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 580px) {
  .howItWorks__content {
    grid-template-columns: 1fr;
  }
}
.howItWorks__heading {
  grid-column: 1/-1;
}
@media only screen and (max-width: 1024px) {
  .howItWorks__card:nth-child(4) {
    grid-column: 1/-1;
  }
}

.testimonials__content {
  grid-column: 2/3;
}
.testimonials__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}
@media only screen and (max-width: 1024px) {
  .testimonials__cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 580px) {
  .testimonials__cards {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 1024px) {
  .testimonials__cards .testimonial__card:nth-child(3) {
    grid-column: 1/-1;
  }
}

.pricing__content {
  grid-column: 2/3;
}
.pricing__cards {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, -webkit-max-content);
  grid-template-columns: repeat(3, max-content);
}
@media only screen and (max-width: 1230px) {
  .pricing__cards {
    grid-template-columns: repeat(2, -webkit-max-content);
    grid-template-columns: repeat(2, max-content);
    grid-row-gap: 4rem;
  }
}
@media only screen and (max-width: 860px) {
  .pricing__cards {
    grid-template-columns: -webkit-max-content;
    grid-template-columns: max-content;
    grid-row-gap: 4rem;
  }
}
@media only screen and (max-width: 1230px) {
  .pricing__card:nth-child(3) {
    grid-column: 1/-1;
    justify-self: center;
  }
}

.faq__container {
  grid-column: 2/3;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  height: 8rem;
  background-color: #0a202e;
  transition: 0.4s ease;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__content-logo {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  color: #f7ebec;
}

.headerFixed {
  position: fixed;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6);
  z-index: 20;
}

.desktopNavigation {
  display: flex;
  list-style: none;
}
@media only screen and (max-width: 800px) {
  .desktopNavigation {
    display: none;
  }
}
.desktopNavigation__item {
  margin-right: 3rem;
}
.desktopNavigation__item:last-child {
  margin-right: 0;
}
.desktopNavigation__item-link {
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  color: #f7ebec;
}

.mobileNavigation {
  display: none;
}
@media only screen and (max-width: 800px) {
  .mobileNavigation {
    display: flex;
    align-items: center;
  }
}
.mobileNavigation__burger {
  display: block;
  margin-left: 3rem;
}
.mobileNavigation__burger span {
  height: 3px;
  display: block;
  background-color: #f7ebec;
  width: 30px;
  border-radius: 2px;
  margin-bottom: 5px;
}
.mobileNavigation__burger span:last-child {
  margin-bottom: 0;
}
.mobileNavigation__burger span:nth-child(2) {
  width: 25px;
}

.logInBtn {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  color: #f7ebec;
  border-radius: 5px;
  border: 2px solid #022e43;
  padding: 0.5rem 2rem;
  transition: background-color 0.4s;
}
.logInBtn:hover {
  background-color: #022e43;
}

.sidebarLoginBtn {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2rem;
  color: #f7ebec;
  border-radius: 5px;
  border: 2px solid #de3c4b;
  padding: 0.5rem 2rem;
}

.getStartedBtn {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  color: #f7ebec;
  border-radius: 5px;
  padding: 1rem 2rem;
  background-color: #de3c4b;
}

.welcome__cta-btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2rem;
  color: #f7ebec;
  font-weight: 300;
  border-radius: 5px;
  padding: 1rem 2rem;
  background-color: #de3c4b;
  transition: transform 0.4s ease-out;
}
.welcome__cta-btn:hover {
  transform: translateY(-7px);
}

.btn__scrollTop {
  position: fixed;
  bottom: 5rem;
  right: 3rem;
  z-index: 23;
  background-color: #de3c4b;
  border-radius: 5px;
  padding: 1rem;
  opacity: 0;
  transition: 0.4s ease;
}
@media only screen and (max-width: 800px) {
  .btn__scrollTop {
    bottom: 3rem;
    right: 2rem;
  }
}
.btn__scrollTop img {
  transform: rotate(-90deg);
  width: 3rem;
}

.btn__scrollTop-show {
  display: block;
  opacity: 1;
}

.sidebar {
  position: fixed;
  top: 0;
  overflow: hidden;
  right: 0;
  height: 100vh;
  width: 0;
  background-color: #022e43;
  z-index: 22;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar__close {
  position: absolute;
  top: 3rem;
  right: 3.5rem;
  opacity: 0;
  transform: translateY(-10px);
}
.sidebar__close img {
  width: 2rem;
}

.sidebar__social {
  display: flex;
  margin-top: 7rem;
}
.sidebar__social-link {
  opacity: 0;
  margin-right: 2rem;
}
.sidebar__social-link:last-child {
  margin-right: 0;
}
.sidebar__social-link img {
  width: 3rem;
}

.sidebarNavigation {
  list-style: none;
}
.sidebarNavigation__item {
  margin-bottom: 4rem;
  text-align: center;
}
.sidebarNavigation__item:last-child {
  margin-bottom: 0;
}
.sidebarNavigation__link {
  opacity: 0;
  transform: translateY(-10px);
  color: #f7ebec;
  font-size: 2rem;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
}

.sidebarOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  opacity: 0;
  height: 100vh;
  background-color: rgba(18, 22, 25, 0.2);
  z-index: 21;
}

.welcome {
  width: 100vw;
  min-height: 100vh;
  background-color: #0a202e;
}
.welcome__video {
  height: 40rem;
  max-width: 60rem;
  background-color: #022e43;
}
@media only screen and (max-width: 1070px) {
  .welcome__video {
    height: 30rem;
  }
}
.welcome__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #f7ebec;
}
.welcome__text-heading {
  font-size: 4.5rem;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 3rem;
}
.welcome__text-paragraph {
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 2rem;
}
.welcome__text-quote {
  font-size: 2.5rem;
  color: #de3c4b;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 3rem;
}
.welcome__cta {
  color: #f7ebec;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 1070px) {
  .welcome__cta {
    margin-top: 2rem;
  }
}
.welcome__cta-text {
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 3rem;
}

.about {
  min-height: 100vh;
  width: 100vw;
  padding: 10rem 0;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
@media only screen and (max-width: 800px) {
  .about {
    padding: 6rem 0;
  }
}
.about__shape {
  position: absolute;
  top: 5rem;
  left: 0;
  height: 100%;
  width: 30vw;
  background-color: #f7ebec;
  z-index: 1;
}
@media only screen and (max-width: 800px) {
  .about__shape {
    width: 50vw;
  }
}
.about__content {
  z-index: 2;
}
.about__heading {
  border-left: 1px solid #0a202e;
  padding-left: 2rem;
  margin-bottom: 5rem;
}
.about__heading-h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 4rem;
  letter-spacing: 2px;
  color: #121619;
  font-weight: 400;
}
.about__heading-h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.5rem;
  color: #de3c4b;
  font-weight: 300;
}
.about__text-h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 4rem;
  letter-spacing: 2px;
  color: #de3c4b;
  font-weight: 400;
  margin-bottom: 5rem;
  text-align: right;
  padding-right: 2rem;
  border-right: 1px solid #de3c4b;
}
@media only screen and (max-width: 800px) {
  .about__text-h2 {
    padding-right: 0;
    border-right: none;
    padding-left: 2rem;
    border-left: 1px solid #0a202e;
    text-align: left;
  }
}
.about__text-p {
  font-size: 1.8rem;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  line-height: 3rem;
  margin-bottom: 2rem;
  color: .about__text-p color-dark;
}
.about__text-p:last-child {
  margin-bottom: 0;
}
.about__text-2 {
  text-align: justify;
}
@media only screen and (max-width: 800px) {
  .about__text-2 {
    text-align: left;
    margin: 5rem 0;
  }
}
.about__imageContainer-1 {
  margin-bottom: 15rem;
}
.about__imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1024px) {
  .about__imageContainer {
    justify-content: flex-end;
  }
}
@media only screen and (max-width: 800px) {
  .about__imageContainer {
    justify-content: center;
    margin: 5rem 0rem;
  }
}
.about__imageContainer img {
  width: 25rem;
  height: 40rem;
}
.about__cta {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 800px) {
  .about__cta {
    margin-top: 0;
  }
}
.about__cta-p {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: #121619;
}
@media only screen and (max-width: 800px) {
  .about__cta-p {
    text-align: center;
    margin-bottom: 2.5rem;
  }
}

.howItWorks {
  padding: 10rem 0 15rem 0;
  background-color: #0a202e;
  width: 100vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
@media only screen and (max-width: 800px) {
  .howItWorks {
    padding: 6rem 0;
  }
}
.howItWorks__heading {
  border-left: 1px solid #de3c4b;
  padding-left: 2rem;
  margin-bottom: 10rem;
}
.howItWorks__heading-h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 4rem;
  letter-spacing: 2px;
  color: #f7ebec;
  font-weight: 400;
}
.howItWorks__heading-h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.5rem;
  color: #de3c4b;
  font-weight: 300;
}
.howItWorks__card {
  border-right: 1px solid #de3c4b;
  padding: 2rem;
}
.howItWorks__card:last-child {
  border-right: none;
}
@media only screen and (max-width: 1024px) {
  .howItWorks__card:nth-child(4) {
    width: 40rem;
    justify-self: center;
    border-top: 1px solid #de3c4b;
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 1024px) {
  .howItWorks__card:nth-child(3) {
    border-right: none;
  }
}
@media only screen and (max-width: 580px) {
  .howItWorks__card {
    border-bottom: 1px solid #de3c4b;
  }
  .howItWorks__card:nth-child(2) {
    border-right: none;
  }
  .howItWorks__card:last-child {
    border-bottom: none;
  }
  .howItWorks__card:nth-child(4) {
    width: 100%;
    border-top: none;
    margin-top: 0;
  }
}
.howItWorks__card-heading {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.howItWorks__card-heading img {
  width: 5rem;
}
.howItWorks__card-heading h4 {
  font-size: 2rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: #f7ebec;
  margin-left: 3rem;
}
.howItWorks__card-text {
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #f7ebec;
}

.testimonials {
  padding: 10rem 0;
}
@media only screen and (max-width: 800px) {
  .testimonials {
    padding: 6rem 0;
  }
}
.testimonials__heading {
  border-left: 1px solid #0a202e;
  padding-left: 2rem;
  margin-bottom: 10rem;
}
.testimonials__heading-h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 4rem;
  letter-spacing: 2px;
  color: #0a202e;
  font-weight: 400;
}
.testimonials__heading-h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.5rem;
  color: #de3c4b;
  font-weight: 300;
}
.testimonials__cards .testimonial__card {
  background-color: #0a202e;
  position: relative;
  border-radius: 10px;
  padding: 3rem;
}
@media only screen and (max-width: 1024px) {
  .testimonials__cards .testimonial__card:nth-child(3) {
    width: 40rem;
    justify-self: center;
  }
}
@media only screen and (max-width: 580px) {
  .testimonials__cards .testimonial__card:nth-child(3) {
    width: 100%;
  }
}
.testimonials__cards .testimonial__card img {
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 1;
  width: 9rem;
}
.testimonials__cards .testimonial__card p {
  position: relative;
  z-index: 2;
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif;
  color: #f7ebec;
}
.testimonials__cards .testimonial__card-text {
  font-weight: 300;
  margin-bottom: 3rem;
}

.faq {
  width: 100vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #0a202e;
  padding: 15rem 0rem;
}
@media only screen and (max-width: 800px) {
  .faq {
    padding: 6rem 0;
  }
}
.faq__container {
  width: 100%;
}
.faq__container-heading {
  border-left: 1px solid #022e43;
  padding-left: 2rem;
  margin-bottom: 8rem;
}
.faq__container-heading-h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 4rem;
  letter-spacing: 2px;
  color: #f7ebec;
  font-weight: 400;
}
.faq__container-heading-h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.5rem;
  color: #de3c4b;
  font-weight: 300;
}
.faq__container .faq__tabs {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.faq__container .faq__tabs .faq__tab {
  overflow: hidden;
  width: 100%;
  margin-bottom: 1rem;
}
.faq__container .faq__tabs .faq__tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.faq__container .faq__tabs .faq__tab label {
  background-color: #022e43;
  font-family: "Source Sans Pro", sans-serif;
  color: #f7ebec;
  font-size: 2rem;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 1px solid #0a202e;
  cursor: pointer;
}
.faq__container .faq__tabs .faq__tab label::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.faq__container .faq__tabs .faq__tab .faq-first {
  border-radius: 10px 10px 0 0;
}
.faq__container .faq__tabs .faq__tab .faq-last {
  border-bottom: none;
  border-radius: 0 0 10px 10px;
}
.faq__container .faq__tabs .faq__tab-answer {
  max-height: 0;
  overflow: hidden;
  display: none;
  padding: 0 2rem;
  transition: all 1s;
}
.faq__container .faq__tabs .faq__tab-answer p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  color: #f7ebec;
  font-weight: 300;
}
.faq__container .faq__tabs .faq__tab input:checked + label::after {
  transform: rotate(90deg);
}
.faq__container .faq__tabs .faq__tab input:checked ~ .faq__tab-answer {
  max-height: 100%;
  display: block;
  padding: 2rem;
}

.pricing {
  padding: 10rem 0;
}
@media only screen and (max-width: 800px) {
  .pricing {
    padding: 6rem 0;
  }
}
.pricing__heading {
  border-left: 1px solid #0a202e;
  padding-left: 2rem;
  margin-bottom: 10rem;
}
.pricing__heading-h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 4rem;
  letter-spacing: 2px;
  color: #0a202e;
  font-weight: 400;
}
.pricing__heading-h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.5rem;
  color: #de3c4b;
  font-weight: 300;
}
.pricing__card {
  border-radius: 10px;
  width: 35rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-right: 2rem;
  transition: transform 0.4s ease;
}
.pricing__card:hover {
  transform: translateY(-10px);
  z-index: 2;
}
.pricing__card-heading {
  padding-top: 2rem;
  text-align: center;
  background-color: #0a202e;
  border-radius: 0 0 100% 100%;
  margin: 0rem 3rem 3rem 3rem;
}
.pricing__card-plan {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 4rem;
  font-weight: 300;
  color: #f7ebec;
  padding-bottom: 2rem;
  margin: 0 3rem;
  border-bottom: 1px solid #de3c4b;
}
.pricing__card-price {
  margin: 3rem 0;
  font-family: "Open Sans", sans-serif;
  font-size: 4rem;
  font-weight: 300;
  color: #f7ebec;
}
.pricing__card-feature {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}
.pricing__card-feature img {
  width: 2.5rem;
  margin-right: 2rem;
}
.pricing__card-feature p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  color: #121619;
  font-weight: 300;
}
.pricing__card-cta {
  margin: 3rem 0;
  background-color: #de3c4b;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2rem;
  padding: 1.5rem 2rem;
  color: #f7ebec;
  width: 20rem;
  text-align: center;
  border-radius: 5px;
  align-self: center;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.4s;
}
.pricing__card-cta:hover {
  transform: translateY(-5px);
}

.newsletter {
  display: flex;
  justify-content: center;
  padding: 10rem 0;
  background-color: #0a202e;
}
.newsletter__heading {
  text-align: center;
  border-bottom: 1px solid #022e43;
  padding-bottom: 2rem;
  margin-bottom: 5rem;
}
.newsletter__heading-h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 4rem;
  letter-spacing: 2px;
  color: #f7ebec;
  font-weight: 400;
}
.newsletter__heading-h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.5rem;
  color: #de3c4b;
  font-weight: 300;
}
.newsletter__form {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 800px) {
  .newsletter__form {
    flex-direction: column;
  }
}
.newsletter__form input {
  font-family: "Open Sans", sans-serif;
  border-radius: 5px;
  font-weight: 300;
  color: #121619;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  width: 30rem;
  outline: none;
  border: none;
  transition: all 0.4s;
  margin-right: 5rem;
}
@media only screen and (max-width: 800px) {
  .newsletter__form input {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}
.newsletter__form input::-webkit-input-placeholder {
  font-family: "Source Sans Pro", sans-serif;
}
.newsletter__form input::-moz-placeholder {
  font-family: "Source Sans Pro", sans-serif;
}
.newsletter__form input:-ms-input-placeholder {
  font-family: "Source Sans Pro", sans-serif;
}
.newsletter__form input::-ms-input-placeholder {
  font-family: "Source Sans Pro", sans-serif;
}
.newsletter__form input::placeholder {
  font-family: "Source Sans Pro", sans-serif;
}
.newsletter__form input:focus {
  width: 32rem;
}
.newsletter__subscribe {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.8rem;
  color: #f7ebec;
  font-weight: 300;
  padding: 1rem 2rem;
  width: 15rem;
  text-align: center;
  border-radius: 5px;
  background-color: #de3c4b;
}

/*# sourceMappingURL=/main.css.map */