.about {
  min-height: 100vh;
  width: 100vw;
  padding: 10rem 0;
  position: relative;
  z-index: 0;
  overflow: hidden;

  @media only screen and(max-width: 800px) {
    padding: 6rem 0;
  }
  &__content {
    z-index: 2;
  }
  &__heading {
    border-left: 1px solid $color-primary;
    padding-left: 2rem;
    margin-bottom: 10rem;
    @media only screen and(max-width: 800px) {
      margin-bottom: 6rem;
    }
    &-h2 {
      @include heading-2-light;
    }
    &-h3 {
      @include heading-3-light;
    }
  }

  //   styles for text paragraphs in about section
  &__text {
    &-p {
      @include paragraph-light;
    }
  }
  &__cta {
    margin-top: 5rem;
    &-text {
      @include paragraph-light;
      font-weight: $bold;
    }
    &-btn {
      @include button;
      background-color: $color-primary;
    }
  }
  &__imageContainer {
    display: flex;
    align-items: center;
    @media only screen and(max-width: 1024px) {
			margin-top: 5rem;
		}
    img{
      width: 100%;
      height: auto;
    }
  }
}


#aboutMe{
  .about__content{
    column-gap: 5rem;
    .about__imageContainer{
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
      }
    }
  }
}