.benefits {
  width: 100%;
  padding: 10rem 0;
  background-color: $color-primary;
  @media only screen and(max-width: 800px) {
    padding: 6rem 0;
  }
  &__heading {
    border-left: 1px solid $color-danger;
    padding-left: 2rem;
    margin-bottom: 10rem;
    @media only screen and(max-width: 800px) {
      margin-bottom: 6rem;
    }
    &-h2 {
      @include heading-2-dark;
    }
    &-h3 {
      @include heading-3-dark;
    }
  }

  &__card {
    padding: 2rem;
    max-width: 40rem;
    &:last-child {
      border-right: none;
    }
    margin-bottom: 4rem;

    &-heading {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
      img {
        width: 5rem;
      }
      h4 {
        @include heading-4-dark;
      }
    }
    &-paragraph {
      @include paragraph-dark;
    }
  }
}

.benefits__card--border-right{
  // border-right: 1px solid $color-secondary;
}