.contact {
  padding: 10rem 0;
  &__heading {
    border-left: 1px solid $color-secondary;
    padding-left: 2rem;
    margin-bottom: 5rem;
    width: max-content;
    &-h2 {
      font-family: $font-source-sans;
      font-size: $heading-2;
      letter-spacing: $heading-letter-spacing;
      color: $font-primary;
      font-weight: $bold;
    }
    &-h3 {
      font-family: $font-source-sans;
      font-size: $heading-3;
      color: $font-danger;
      font-weight: $light;
    }
  }
  &__content {
  }

  &__form {
    width: 100%;
    background-color: $color-primary;
    border-radius: 10px;
    padding: 3rem 2rem;
    &-heading {
      font-family: $font-source-sans;
      font-size: $heading-3;
      color: $font-danger;
      font-weight: $light;
      margin-bottom: 5rem;
      padding-left: 2rem;
      // text-align: center;
    }

    &-group {
      margin-bottom: 3rem;
    }
    &-input {
      font-family: $font-open-sans;
      font-size: $paragraph-1;
      font-weight: $light;
      color: $color-neutral;
      border: none;
      background-color: $color-primary;
      width: 100%;
      border-bottom: 1px solid $color-secondary;
      padding: 1.5rem 0;
      outline: none;
      transition: all 0.4s;
      padding-left: 2rem;
      border-radius: 5px;

      &::placeholder {
        color: $color-neutral;
      }

      &:focus {
        padding-left: 3rem;
        background-color: $color-secondary;
      }
    }
    textarea {
      font-family: $font-open-sans;
      font-size: $paragraph-1;
      font-weight: $light;
      color: $color-neutral;
      background-color: $color-primary;
      width: 100%;
      border: none;
      resize: none;
      border-bottom: 1px solid $color-secondary;
      padding: 1.5rem 2rem;
      outline: none;
      transition: all 0.4s;
      height: 20rem;
      border-radius: 5px 5px;
      @media only screen and(max-width: 800px) {
        height: 15rem;
      }
      &::placeholder {
        color: $color-neutral;
      }
      &:focus {
        padding-left: 3rem;
        background-color: $color-secondary;
      }
    }
    &-btn {
      background-color: $color-danger;
      font-family: $font-source-sans;
      font-size: $paragraph-1;
      font-weight: $light;
      color: $color-neutral;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      width: 30rem;
      padding: 1.5rem 0;
      text-align: center;
      transition: 0.4s all;
      -webkit-appearance: none;

      @media only screen and(max-width: 800px) {
        width: 100%;
      }

      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}
