.contact {
	background-color: $color-primary;
	padding: 10rem 0;
	&__content {
		display: flex;
		justify-content: center;
		@media only screen and(max-width: 760px) {
			flex-direction: column;
		}
	}
	&__heading {
		@include heading-2-dark;
		flex-wrap: wrap;
	}
	&__form {
		background-color: #fff;
		border-radius: 5px 0 0 5px;
		padding: 2rem 6rem;
		@media only screen and(max-width: 950px) {
			padding: 2rem 3rem;
		}
		@media only screen and(max-width: 760px) {
			border-radius: 5px 5px 0 0;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		@media only screen and(max-width: 515px) {
			padding: 2rem 2rem;
		}

		&-heading {
			@include heading-3-light;
			margin-bottom: 3rem;
		}
	}
	.form__group {
		margin-bottom: 2rem;
		input {
			border: none;
			outline: none;
			width: 40rem;
			padding: 1rem 1rem;
			border-bottom: 1px solid $color-secondary;
			-webkit-appearance: none;
			font-family: $font-open-sans;
			font-size: 1.6rem;
			border-radius: 5px 5px 0 0;

			@media only screen and(max-width: 950px) {
				width: 35rem;
			}
			@media only screen and(max-width: 800px) {
				width: 30rem;
			}
			@media only screen and(max-width: 760px) {
				width: 40rem;
			}
			@media only screen and(max-width: 515px) {
				width: 35rem;
			}
			@media only screen and(max-width: 460px) {
				width: 30rem;
			}
			@media only screen and(max-width: 400px) {
				width: 26rem;
			}
			&:focus {
				background-color: $color-neutral;
			}
			&::placeholder {
				font-size: $small;
			}
		}
		textarea {
			width: 40rem;
			resize: vertical;
			border: none;
			outline: none;
			padding: 1rem 1rem;
			border-bottom: 1px solid $color-secondary;
			font-family: $font-open-sans;
			font-weight: $paragraph-1;
			border-radius: 5px 5px 0 0;
			@media only screen and(max-width: 950px) {
				width: 35rem;
			}
			@media only screen and(max-width: 800px) {
				width: 30rem;
			}
			@media only screen and(max-width: 760px) {
				width: 40rem;
			}
			@media only screen and(max-width: 515px) {
				width: 35rem;
			}
			@media only screen and(max-width: 460px) {
				width: 30rem;
			}
			@media only screen and(max-width: 400px) {
				width: 26rem;
			}
			&:focus {
				background-color: $color-neutral;
			}
			&::placeholder {
				font-size: $small;
			}
		}
		.form__btn {
			background-color: $color-danger;
			border-radius: 5px;
			font-family: $font-open-sans;
			font-weight: $paragraph-1;
			cursor: pointer;
			color: $color-neutral;
			border-bottom: none;
			-webkit-appearance: none;
			&:focus {
				background-color: $color-primary;
			}
		}
	}
	&__detail {
		background-color: $color-secondary;
		border-radius: 0 5px 5px 0px;
		padding: 2rem 4rem;
		@media only screen and(max-width: 950px) {
			padding: 2rem 3rem;
		}

		&-h3 {
			@include heading-3-dark-2;
			margin-bottom: 3rem;
			@media only screen and(max-width: 760px) {
				margin-top: 1rem;
			}
		}
		&-h4 {
			@include heading-4-dark-small;
			margin-bottom: 2rem;
			margin-top: 5rem;
			@media only screen and(max-width: 760px) {
				margin-top: 3rem;
			}
		}
		&-group {
			display: flex;
			align-items: center;
			margin-bottom: 2rem;
			img {
				width: 2rem;
				margin-right: 2rem;
			}
			p {
				@include paragraph-dark-small;
			}
		}
		&-link {
			img {
				width: 3rem;
			}
		}
	}
}
