.pricing {
  padding: 10rem 0;
  @media only screen and(max-width: 800px) {
    padding: 6rem 0;
  }
  &__heading {
    border-left: 1px solid $color-primary;
    padding-left: 2rem;
    margin-bottom: 10rem;
    @media only screen and(max-width: 800px) {
      margin-bottom: 6rem;
    }
    &-h2 {
      @include heading-2-light;
    }
    &-h3 {
      @include heading-3-light;
    }
  }
  &__text {
    &-p {
      @include paragraph-light;
    }
  }
  &__card {
    justify-self: right;
    width: 35rem;
    height: 50rem;
    border-radius: 10px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);

    @media only screen and (max-width: 1024px) {
      justify-self: center;
      margin-top: 5rem;
    }
  }
}
