.testimonials {
	padding: 10rem 0;
	width: 100vw;
	background-color: $color-primary;
	@media only screen and(max-width: 800px) {
		padding: 6rem 0;
	}
	&__video{
		position: relative;
		overflow: hidden;
		width: 100%;
		padding-top: 56.25%;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
			z-index: 20;
		}
	}
	&__video-container{
		max-width: 60rem;
		margin: 0 auto;
		margin-bottom: 10rem;
		@media only screen and(max-width: 800px) {
			margin-bottom: 5rem;
		}
	}
	&__heading {
		text-align: center;
		padding-bottom: 2rem;
		border-bottom: 1px solid $color-secondary;
		width: max-content;
		margin: 0 auto;
		margin-bottom: 10rem;
		@media only screen and(max-width: 800px) {
			margin: 0;
			margin-bottom: 6rem;
			text-align: left;
			padding-bottom: 0;
			padding-left: 2rem;
			border-bottom: none;
			width: 100%;
			border-left: 1px solid $color-secondary;
		}
		&-h2 {
			@include heading-2-dark;
		}
		&-h3 {
			@include heading-3-dark;
		}
	}
	&__content {
		margin: 0 auto;
		max-width: 1520px;
		padding: 0 130px;
		@media only screen and (max-width: 1300px) {
			padding: 0 70px;
		}
		@media only screen and (max-width: 700px) {
			padding: 0 30px;
		}
	}
	.owl-dots {
		text-align: center;
		padding-top: 4rem;
	}
	.owl-dots button.owl-dot {
		width: 15px;
		height: 15px;
		border-radius: 50%;
		display: inline-block;
		background: $color-neutral;
		margin: 0 5px;
	}
	.owl-dots button.owl-dot.active {
		background-color: $color-danger;
	}
	.owl-dots button.owl-dot:focus {
		outline: none;
	}
	.carousel__item {
		background-color: #fff;
		border-radius: 5px;
		padding: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: max-content;
		img {
			width: 5rem;
			margin-bottom: 2rem;
		}
		&-p {
			@include paragraph-light;
		}
		&-author {
			@include paragraph-light;
			font-weight: $bold;
		}
	}
}
