.testimonials {
  padding: 10rem 0;

  @media only screen and(max-width: 800px) {
    padding: 6rem 0;
  }
  &__heading {
    border-left: 1px solid $color-primary;
    padding-left: 2rem;
    margin-bottom: 10rem;
    @media only screen and(max-width: 800px) {
      margin-bottom: 6rem;
    }
    &-h2 {
      font-family: $font-source-sans;
      font-size: $heading-2;
      letter-spacing: $heading-letter-spacing;
      color: $color-primary;
      font-weight: $bold;
    }
    &-h3 {
      font-family: $font-source-sans;
      font-size: $heading-3;
      color: $font-danger;
      font-weight: $light;
    }
  }

  &__cards {
    .testimonial__card {
      background-color: $color-primary;
      position: relative;
      border-radius: 10px;
      padding: 3rem;
      &:nth-child(3) {
        @media only screen and (max-width: 1024px) {
          width: 40rem;
          justify-self: center;
        }
        @media only screen and (max-width: 580px) {
          width: 100%;
        }
      }
      img {
        position: absolute;
        top: 2rem;
        left: 2rem;
        z-index: 1;
        width: 9rem;
      }
      p {
        position: relative;
        z-index: 2;
        font-size: $paragraph-1;
        font-family: $font-open-sans;
        color: $font-secondary;
      }
      &-text {
        font-weight: $light;
        margin-bottom: 3rem;
      }
    }
  }
}
