.welcome {
  width: 100vw;
  min-height: 100vh;
  background-color: $color-primary;

  &__video {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    iframe{
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $color-neutral;
    &-heading {
      font-size: $heading-1;
      font-weight: $bold;
      font-family: $font-source-sans;
      margin-bottom: 1.5rem;
    }
    &-paragraph {
      font-size: $paragraph-1;
      font-weight: $light;
      letter-spacing: 1px;
      font-family: $font-open-sans;
      margin-bottom: 2rem;
    }
    &-quote {
      font-size: $paragraph-danger;
      color: $color-danger;
      font-weight: $bold;
      font-family: $font-open-sans;
      margin-bottom: 3rem;
    }
  }

  &__cta {
    color: $color-neutral;
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: 1070px) {
      margin-top: 2rem;
    }
    &-text {
      font-size: $paragraph-1;
      font-weight: $light;
      letter-spacing: 1px;
      font-family: $font-open-sans;
      margin-bottom: 3rem;
    }
    &-btn {
      @include button;
      background-color: $color-danger;
    }
  }
}
