// Common grid styles for multiple components
// Grid layout that is the same for all main sections
.header,
.welcome,
.about,
.howItWorks,
.testimonials,
.faq,
.pricing {
  display: grid;
  grid-template-columns: minmax(130px, 1fr) minmax(min-content, 1520px) minmax(
      130px,
      1fr
    );

  @media only screen and (max-width: 1300px) {
    grid-template-columns: minmax(70px, 1fr) minmax(min-content, 1520px) minmax(
        70px,
        1fr
      );
  }
  @media only screen and (max-width: 700px) {
    grid-template-columns: minmax(30px, 1fr) minmax(min-content, 1520px) minmax(
        30px,
        1fr
      );
  }
}

// Grid layout for HEADER
.header {
  &__content {
    grid-column: 2 / 3;
  }
}

// Grid layout for welcome section
.welcome {
  &__content {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content max-content;
    align-content: center;
    grid-column-gap: 4rem;

    @media only screen and (max-width: 1070px) {
      grid-template-columns: 1fr;
      grid-template-rows: max-content;
      padding-top: 10rem;
      padding-bottom: 10rem;
      grid-row-gap: 2rem;
    }
  }
  &__video {
    grid-row: 1 / -1;
    @media only screen and (max-width: 1070px) {
      grid-row: 2 / 3;
    }
  }
  &__cta {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    @media only screen and (max-width: 1070px) {
      grid-column: 1 / -1;
      grid-row: 3 / 4;
    }
  }
  @media only screen and (max-width: 1070px) {
    &__text {
      grid-row: 1;
    }
  }
}

// Grid layout for about section
.about {
  &__content {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, max-content);
    @media only screen and(max-width: 1024px) {
      grid-template-columns: 2fr 1fr;
      grid-gap: 4rem;
    }

    @media only screen and(max-width: 800px) {
      grid-template-columns: 1fr;
      grid-gap: 0;
    }
  }
  &__imageContainer-2 {
    @media only screen and(max-width: 800px) {
      grid-row: 5 / 6;
    }
  }
  &__heading {
    grid-column: 1 / -1;
  }
  &__cta {
    grid-column: 1 / -1;
  }
}

// Grid layout for how it works section
.howItWorks {
  &__content {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;

    @media only screen and (max-width: 1024px) {
      grid-template-columns: 1fr 1fr;
    }
    @media only screen and (max-width: 580px) {
      grid-template-columns: 1fr;
    }
  }
  &__heading {
    grid-column: 1 / -1;
  }

  &__card {
    &:nth-child(4) {
      @media only screen and (max-width: 1024px) {
        grid-column: 1 / -1;
      }
    }
  }
}

// Testimonials grid layout
.testimonials {
  &__content {
    grid-column: 2 / 3;
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;

    @media only screen and (max-width: 1024px) {
      grid-template-columns: 1fr 1fr;
    }
    @media only screen and (max-width: 580px) {
      grid-template-columns: 1fr;
    }
    .testimonial__card {
      &:nth-child(3) {
        @media only screen and (max-width: 1024px) {
          grid-column: 1 / -1;
        }
      }
    }
  }
}

// Grid layout for pricing section
.pricing {
  &__content {
    grid-column: 2 / 3;
  }
  &__cards {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, max-content);

    @media only screen and (max-width: 1230px) {
      grid-template-columns: repeat(2, max-content);
      grid-row-gap: 4rem;
    }
    @media only screen and (max-width: 860px) {
      grid-template-columns: max-content;
      grid-row-gap: 4rem;
    }
  }

  &__card {
    &:nth-child(3) {
      grid-column: 1 / -1;
      justify-self: center;
    }
  }
}

// Grid styles for FAQ section
.faq {
  &__container {
    grid-column: 2 / 3;
  }
}
